
@{
    Layout = null;
}
@model TemplateExample.Task2.Entity.Concrete.View.LoginVM
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
	    <div class="row justify-content-center">
		    @using (@Html.BeginForm("Index","Login",FormMethod.Post,new {@class= "col-md-4 mt-5" }))
		    {
			    @Html.AntiForgeryToken()
			    <div class="row align-items-center">

				    @Html.Label("Email :", new { @class = "form-label col-md-3" })
				    <div class="col-md-9 mb-3">
					    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
				    </div>

				    @Html.Label("Password :", new { @class = "form-label col-md-3" })
				    <div class="col-md-9 mb-3">
					    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" ,Type="password" })
				    </div>

				    <div class="text-end">
					    <input type="submit" name="name" value="Giriş Yap" class="btn btn-outline-success col-md-4" />
				    </div>

			    </div>
		    }
	    </div>
    </div>
</body>
</html>
